{% extends "base.html" %}
{% load static %}

{% block title %}Signup{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock css %}

{% block content %}
<div class="main-content">
    <div class="bg-image"></div>
    <div class="container my-4 rounded  d-block p-3">
        <form class="row g-3" method="POST" action="" >{% csrf_token %}
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationDefault01" value="" name='firstname' required>
            </div>
            <div class="col-md-4">
                <label for="validationDefault02" class="form-label">Last name</label>
                <input type="text" class="form-control" id="validationDefault02" value="" name='lastname' required>
            </div>
            <div class="col-md-4">
                <label for="validationDefaultUsername" class="form-label">Username</label>
                <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    <input type="text" class="form-control" id="validationDefaultUsername" name='username' aria-describedby="inputGroupPrepend2" required>
                </div>
            </div>

            <div class="mb-3 col-md-6">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name='email' aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            <div class="col-md-4">
                <label for="inputPassword6" class="col-form-label">Password</label>
                <input type="password" id="inputPassword6" name='password1' class="form-control" aria-describedby="passwordHelpInline">
                <span id="passwordHelpInline" class="form-text">
                    Must be 8-20 characters long.
                </span>
            </div>
            
            <div class="col-md-4">
                <label for="inputPassword6" class="col-form-label">Re-type Password</label>
                <input type="password" id="Re-type-inputPassword6" name='password2' class="form-control" aria-describedby="passwordHelpInline">
            </div>

            <div class="col-12">
                <button  class="btn btn-primary" type="submit" name='submit-btn' id="submit-button">Sign up</button>
            </div>
        </form>
        <p style="text-align:end " class="fw-semibold"><a href="{% url "login" %}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Already have an account</a></p>

    </div>
</div>
{% endblock content %}